.typeA{
    text-align: left;
}
.typeA img {
    width: 25%;
    margin-left: 15%;
    margin-top: 5%;
    position: relative;
    border: double 10px #f7a1dd;
}
.typeB{
    text-align: left;
}
.typeB img {
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    border: double 10px #f7a1dd;
}
.typeC {
    text-align: right;
}
.typeC img{
    width: 70%;
    margin-top: 5%;
    margin-right: 5%;
    position: relative;
    border: double 10px #f7a1dd;
}
.typeD {
    text-align: center;
}
.typeD img {
    width: 25%;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    border: double 10px #f7a1dd;
}