.main{
    background-image: url("Materials/img/Title.png");
    text-align: center;
}
.title{
    font-size: 108px;
    color: snow;
    font-family: serif;
}
.background{                 
    background-image: url("Materials/img/bg_typeA.png");
    /* background-color: aquamarine; */
}
.menu{
    background-image: url("Materials/img/bg_typeA.png");
    text-align: start;
}
.headline{
    color: white;
    font-size: 36px;
    font-family: serif;
    position: relative;
    left: 16px;
}
.headerlinks{
    text-decoration: none;
    color: snow;
    font-size: 24px;
    font-family: serif;
}
.gameroom{
    text-align: center;
}
.background_A{
    background-image: url("Materials/img/background_A.jpg");
}
.headline_B{
    text-align: start;
    color: gray;
    font-size: 36px;
    font-family: serif;
}
.profile{
    width: 80%;
    padding: 0.5em 1em;
    border: double 5px aquamarine;
    background-color: snow;
    position: relative;
    left: 10%;
}
.profile p {
    margin: 0; 
    padding: 0;
}
.dialy {
    width: 80%;
    padding: 0.5em 1em;
    border: double 5px #4ec4d3;
    background-color: snow;
    position: relative;
    left: 10%;
}
.dialy p {
    border-bottom:double;/*二重線を引く*/
    margin: 0; 
    padding: 0;
}
